/* Add your custom extension styling here */
.panel-calc-rpn-PopupBaseMenuItem {
    padding: 0em;
    margin: 0em;
}

.panel-calc-rpn-BoxLayout {
    padding: 0em;
    margin: 0em;
}

.panel-calc-rpn-stack1BoxLayout {
    padding-top: 0.5em;
}

.panel-calc-rpn-stack2BoxLayout {
    padding-bottom: 0.5em;
}

.panel-calc-rpn-registerBoxLayout {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.panel-calc-rpn-registerNameLabel {
    color: white;
    width: 1.25em;
    padding-right: 0em;
    margin-left: 0.5em;
    font-size: 1em;
    font-weight: bold;
}

.panel-calc-rpn-registerValueLabel {
    color: white;
    background-color: gray;
    height: 1.3em;
    padding: 0.15em 0.45em;
    border-radius: 0.4em;
    border-width: 0.1em;
    border-color: gainsboro;
    font-size: 1em;
    font-weight: normal;
}

.panel-calc-rpn-indicatorBoxLayout {
    padding-top: 0.5em;
}

.panel-calc-rpn-indicatorLabel {
    color: white;
    background-color: gray;
    padding: 0.1em 0.3em;
    margin-right: 0.2em;
    border-radius: 0.3em;
    border-width: 0.05em;
    border-color: gainsboro;
    font-size: 1.5em;
    font-weight: normal;
}

.panel-calc-rpn-indicatorELabel {
    color: white;
    background-color: gray;
    width: 2em;
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    border-width: 0.05em;
    border-color: gainsboro;
    font-size: 1.5em;
    font-weight: normal;
}

.panel-calc-rpn-labelFLabel {
    color: yellow;
    font-size: 0.8em;
    font-weight: normal;
}

.panel-calc-rpn-labelKLabel {
    color: lightskyblue;
    font-size: 0.8em;
    font-weight: normal;
}

.panel-calc-rpn-grayButton {
    color: black;
    background-color: gainsboro;
    height: 2.3em;
    width: 2.3em;
    margin: 0.15em;
    border-radius: 0.3em;
    border-width: 0.08em;
    border-color: black;
    font-size: 1.25em;
    font-weight: bold;
}

.panel-calc-rpn-grayButton:hover {
    border-color: white;
}

.panel-calc-rpn-redButton {
    color: white;
    background-color: crimson;
    height: 2.3em;
    width: 2.3em;
    margin: 0.15em;
    border-radius: 0.3em;
    border-width: 0.08em;
    border-color: black;
    font-size: 1.25em;
    font-weight: bold;
}

.panel-calc-rpn-redButton:hover {
    border-color: white;
}

.panel-calc-rpn-yellowButton {
    color: black;
    background-color: yellow;
    height: 2.3em;
    width: 2.3em;
    margin: 0.15em;
    border-radius: 0.3em;
    border-width: 0.08em;
    border-color: black;
    font-size: 1.25em;
    font-weight: bold;
}

.panel-calc-rpn-yellowButton:hover {
    border-color: white;
}

.panel-calc-rpn-blueButton {
    color: white;
    background-color: steelblue;
    height: 2.3em;
    width: 2.3em;
    margin: 0.15em;
    border-radius: 0.3em;
    border-width: 0.08em;
    border-color: black;
    font-size: 1.25em;
    font-weight: bold;
}

.panel-calc-rpn-blueButton:hover {
    border-color: white;
}

.panel-calc-rpn-controlBoxLayout {
    padding: 0em;
    margin: 0em;
}

.panel-calc-rpn-controlButton {
    color: grey;
    height: 1.5em; 
    width: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.panel-calc-rpn-controlButton:hover {
    color: white;
}
