/* Add your custom extension styling here */
.panel-calc-rpn-PopupBaseMenuItem {
    padding: 0em;
    margin: 0em;
}

.panel-calc-rpn-BoxLayout {
    padding: 0em;
    margin: 0em;
}

.panel-calc-rpn-stack1BoxLayout {
    padding-top: 0.5em;
}

.panel-calc-rpn-stack2BoxLayout {
    padding-bottom: 0.5em;
}

.panel-calc-rpn-registerBoxLayout {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.panel-calc-rpn-registerNameLabel {
    font-weight: bold;
    color: white;
    width: 1.25em;
    margin-left: 0.5em;
    padding-right: 0em;
}

.panel-calc-rpn-registerValueLabel {
    border-radius: 0.5em;
    border-width: 0.125em;
    border-color: gainsboro;
    background-color: gray;
    font-weight: normal;
    font-size: 1em;
    padding: 0.15em 0.45em;
    color: white;
}

.panel-calc-rpn-indicatorBoxLayout {
    padding-top: 0.5em;
}

.panel-calc-rpn-indicatorLabel {
    border-radius: 0.333em;
    border-width: 0.083em;
    border-color: gainsboro;
    background-color: gray;
    font-weight: normal;
    font-size: 1.5em;
    padding: 0.1em 0.3em;
    margin-right: 0.2em;
    color: white;
}

.panel-calc-rpn-indicatorELabel {
    border-radius: 0.333em;
    border-width: 0.083em;
    border-color: gainsboro;
    background-color: gray;
    font-weight: normal;
    font-size: 1.5em;
    width: 2em;
    padding: 0.1em 0.3em;
    color: white;
}

.panel-calc-rpn-grayButton {
    border-radius: 0.5em;
    border-width: 0.125em;
    border-color: black;
    background-color: gainsboro;
    font-weight: bold;
    margin: 0.2em;
    color: black;
    width: 2.5em;
    height: 2.5em;
}

.panel-calc-rpn-grayButton:hover {
    border-color: white;
}

.panel-calc-rpn-redButton {
    border-radius: 0.5em;
    border-width: 0.125em;
    border-color: black;
    background-color: red;
    font-weight: bold;
    margin: 0.2em;
    color: black;
    width: 2.5em;
    height: 2.5em;
}

.panel-calc-rpn-redButton:hover {
    border-color: white;
}
